body {
    margin: 0 ;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner{
    width: 450px;
    height: 450px;
    background-color: #1F2937;
    border: 5px solid #10B981;
    display: flex;
    align-items: center;
    justify-content: center;
     
}
.heed-span{
    color:#10B981;
    font-size: 40px;
}
.heed-h1{
    color:white;
    font-size: 40px;
}
.never{
    color:#D5D4D8;
    font-size: 20px;
    font-weight: 400;
}
.generate{
    color: white;
    background-color: #10B981;
    font-size: 16px;
    width: 192px;
    height: 42px;
    border: 1px solid #10B981;
    border-radius: 6px;
}

.hr{
    color:#D5D4D8;
    width: 300px;
    height: 1px;
    border-bottom: 1px solid #D5D4D8;
    margin: 30px 0; 
    
}

.passes{
    display: flex;
    gap: 20px
}


.pass1 , .pass2{
    width: 180px;
    height: 35px;
    background-color:#273549 ;
    color: #5DEF92 ;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
